    *{
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url("../img/background.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
    }
    .header {
      height: 60px;
      background-color: rgb(255 255 255 / 51%);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    .header h1 {
      margin: 0;
      font-size: 24px;
      font-weight: normal;
      color: #f0fdbb;
    }
    .header a {
      display: inline-block;
      margin-left: 20px;
      font-size: 16px;
      color: #efefef;
      text-decoration: none;
    }
    .header a:hover {
      color: #333;
    }
    .container {
      width: 400px;
      margin: 50px auto;
      padding: 20px;
      background-color: rgb(255 255 255 / 18%);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    h2 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
      color: #fff;
    }
    label {
      text-align: center;
      font-size: 18px;
      color: #fff;
    }
    input[type="text"], input[type="password"], input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: rgb(255 255 255 / 21%);
      backdrop-filter: blur(10px);
      border: none;
    }
    input[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #b171bd57;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    .error {
      color: red;
      margin-bottom: 10px;
    }
   /* 公告语样式 */
    .notice {
      margin-top: 20px;
      overflow: hidden;
      white-space: nowrap;
    }
    .notice-text {
      display: inline-block;
      padding-right: 100%;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
    }
   /* 自适应 */
    @media screen and (max-width: 480px) {
    .container {
    width: 95%;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(255 255 255 / 18%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
}
